$primary: #AAC4FF;

$font-light:#fff;
$font-grey:#778;
$font-dark:#000;

$border-light: #fff;
$border-grey: #a7a7a7;
$border-grey:#444444;

$background-light:#fff;
$background-grey-light:#eee;
$background-grey:#eee;
$background-grey-dark:#363636;
$background-dark:#151515;
$background-dark-absolute:#000;

$success:#69af00;
$decline: rgb(255, 99, 99);

$morado-fuerte: #B1B2FF;
$azul-combina: #AAC4FF;
$morado-mas-claro:#D2DAFF;
$morado-grisaseo:#EEF1FF;
