@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');
*{
h1,h2,h3,h4,h5{
    font-weight: 400;
    font-family: 'Courier Prime', monospace;
}
p,span{
    font-weight: 400;
    padding: 4px;
    font-family: 'Nunito', sans-serif;

}

}

//colores variables
@import './colors.scss';
//layouts
@import '../layouts/BasicLayout/BasicLayout.scss';

//componentes
@import '../components/Header/Header.scss';
@import '../components/Header/TopBar/TopBar.scss';
@import '../components/Header/Menu/Menu.scss';
@import '../components/Modal/BasocModal.scss';
@import '../components/Auth/AuthLogin/AuthLogin.scss';
@import '../components/Auth/AuthRegister/AuthRegister.scss';
@import '../components/Auth/Auth.scss';
@import '../pages/account.scss';
@import '../components/AccounConfiguration/AccountConfiguration.scss';
@import '../components/AccounConfiguration/Changesdatemuser/ChangeNameForm/ChangeNameForm.scss';
@import '../components/AccounConfiguration/Changesdatemuser/DireccionConfigurar/DireccionConfigurar.scss';
@import '../components/Pagination/Pagination.scss';
@import '../components/informacionadicion/InformacionProductoAdicional.scss';
@import '../pages/search.scss';
@import '../components/Cart/DireccionDeEnvio.scss';
@import '../components/Cart/Paymen/PagoConStripe.scss';

.ui.container .content {
   
        h1{
    
            margin-top: 20px!important;
            padding: 0 20px;
            text-align: left;
    
        }
    
    }

.ui.grid.home{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
>.editartamaño{
    
    width: 33%!important;

}

.editartamaño{

     

    .todoslosdatosreunidos{

        padding: 10px!important;
    background: white!important;
    border: 1px solid black ;

    min-height: 300px;
    max-height: 100%;
    margin-left: 10px;

    h2{
       color: #4183c4;
    }

    .image{

        height: 200px;
        object-fit: cover;

    }

    p.descripcion{

        height: 90px;
        color: black!important;

    }

    .ui.button{
        width: 100%;
        background-color: $morado-fuerte;
        color: white;

        &:hover{
            background-color: black;
        }
    }

   

    }
}


}

.paginadejuegos{
    padding: 18px;
}

.editartamano{

    .paginadejuegos{

        display: flex!important;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 20px;

        .organizarlosjuegos{
            display: flex;
            flex-direction: row;
            width: 80%;
            justify-content: center;
            align-items: flex-start;
            gap: 20px;

            h3{
                
            }

            .organizartexto{
                width: 100%;

                .precio{
                    text-align: center;
                }

                .arreglarboton{
                    
                    width: 100%;
                    border-radius: 0px!important;
                    color: white;
                    font-size: 22px;
                    font-weight: bold;
                    background-color: $primary;
                    margin: 0px 0 20px 0;
                    

                    &:hover{
                        background-color: $morado-fuerte;
                        color: black;
                    }

                }

                .favoritos{
                    padding: 0px 0px 20px;
                }

            }

        }

    }

}

.minigaleria{
    display: flex;
    scroll-snap-type: x mandatory;
    overflow: scroll;
    width: 100%;
    object-fit: contain!important;
    height: auto;
    flex-direction: column;

    &::-webkit-scrollbar{
        display: none;
    }

    h3{
        margin-bottom: 0px;
        text-decoration: underline;
        
    }

    .organizartodo{
        margin-top: 10px;
        display: flex!important;
        flex-direction: row!important;
        width: 100%;
        height: auto;
        object-fit: contain;

        .image{
            width: 100%;
            height: 200px;
        object-fit: contain;
        cursor: pointer;

        }

    }

}

@media only screen and (max-width: 767px){

    .ui.container .content {
   
        h1{
    
            margin-top: 20px!important;
            padding: 0 20px;
            text-align: center;
    
        }
    
    }

    .ui.grid.home{
        display: flex;
        flex-direction: column;
       

        > .editartamaño{

            width: 100%!important;
            padding: 0px 36px;
            margin: 10px 0;

            .todoslosdatosreunidos{
                width: 100%;
            }
            

        }

        .descripcion{
            margin-top: 10px;
            height: 60px!important;
            width: 100%;
        }

    }

    .editartamano{

        .paginadejuegos{
    
            .organizarlosjuegos{
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: center;
                align-items: flex-start;
                gap: 20px;


                .minigaleria{
                    display: flex;
                    scroll-snap-type: x mandatory;
                flex-direction: column;

                    overflow: scroll;
                    width: 100%;
                    object-fit: cover!important;
                    height: 200px;
                }

            }    
    
        }}
}

.misfavoritos{
   
    width: 100%;
    h1{
        text-align: center!important;
    }
}

.ui.grid.estanoeslahome{

    position: relative;
    justify-content: stretch;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin-top: 8%;

    .organizarvalor{

        display: flex;
        flex-direction: row;
        position: fixed;
        left: 7%;
        top: 150px;
        z-index: 1;
    
        .botoncomprar{
            position: fixed;
    top: 150px;
            width: 200px;
            height: 40px;
            z-index: 1;
            background-color: $primary;
            font-size: 18px;
            font-weight: bold;
            color: rgb(0, 0, 0);
            padding:10px;
            border: 1px solid black;
            transition: 200ms;
            left: 7% !important;
    
            &:hover{
                transform: translatex(10px);
                color: white;
            }
        }

        p{

            top:156px;
            position: inherit;
            left: 22%!important;
            padding-left: 10px!important;
            padding-right: 10px!important;
            padding: 3px;
            background-color: white;
            border-radius: 3px;
            border: 1px solid black;

        }

    }

   

   >.editartamaño{
           width: 20%!important;
        }


    .todoslosdatosreunidosdelcarro{
        min-height: auto!important;
        max-width: 200px!important;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
        .image{
    
            height: 100px!important;
    
        }
    }

}

@media only screen and (max-width: 767px){

    .ui.grid.estanoeslahome{

        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column!important;
        width: 100%;
        margin-top: 18%;

        .organizarvalor{

            display: flex;
            flex-direction: row;
            position: fixed;
            left: 2%;
            top: 180px;
            z-index: 1;



            .botoncomprar{
                position: fixed;
                left: 2%!important;
                width: 200px;
                height: 40px;
                top: 180px;
                z-index: 1;
                background-color: $primary;
                font-size: 18px;
                font-weight: bold;
                color: white;
                padding:10px;
                border: 1px solid black;
            }

            p{

                top: 187px;
                position: inherit;
                right: 3%!important;
                padding-left: 0px!important;
                width: auto!important;
                text-align: right;
                padding: 3px;
                background-color: white;
                border-radius: 3px;
                border: 1px solid black;

            }

        }

      

       > .editartamaño{
            padding: 0px 10px!important;
            width: 90%!important;
        }
    
    
        .todoslosdatosreunidosdelcarro{
            min-height: auto!important;
            max-width: 100%!important;
            height: 100%!important;
            display: flex;
        
            .image{
        
                height: 100%!important;
        
            }
        }
    
    }
    

}