.login{
    width: 100%;
    border-radius: 0px!important;

    input{
    border-radius: 0px!important;

    }


.botonenviarinicio{

    background-color: #B1B2FF;
    color: white;
    border-radius: 0;
    text-align: center;
    width: 100%;
    

}
.olvidatestuContrasena{
    background-color: $azul-combina;
    color: black;
    width: 100%;
    border-radius: 0px;
    margin-top: 10px;
    text-align: center;

}

}